[submodule "frontend"]
	path = frontend
	url = https://github.com/flurin-g/actionannotator-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/flurin-g/actionannotator-backend
[submodule "actiondetector"]
	path = actiondetector
	url = https://github.com/flurin-g/actiondetector
